/* width */
/* ::-webkit-scrollbar {
width: 15px;
background: rgba(0,0,0,0);
}

::-webkit-scrollbar-track {
background: var(--white);
}

::-webkit-scrollbar-thumb {
background: var(--dark-blue);
}

::-webkit-scrollbar-thumb:hover {
background: #3589ad;
} */

body {
    margin: 0;
    padding: 0;
    --dark-blue: #002150;
    --normal-blue: #3559E0;
    --light-blue: #80fff0;
    --white: #FFECD6;
    font-family: 'Montserrat';
    background-color: var(--dark-blue);
    color: white;
}

.transition-text-shadow {
    transition: text-shadow .1s ease-in;
}

.white {
    color: white;
}

.myNav {
    min-width: 100%;
    margin: 0;
    top: 0;
    background-color: var(--dark-blue);
    color: white;
    z-index:1;
    /* border-bottom: 1px solid var(--light-blue); */
}

.overlay {
    position: fixed;
}

.MyListItem {
    text-decoration: none !important;
}

.nav-item {
    height: 100%;
    text-shadow: 1px 1px 3px var(--dark-blue);
    
}

.nav-link {
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
    border: 1px solid rgba(1,1,1,0);
    padding: 15px;
    border-radius: 0 !important;
}

a:visited { 
    color: white;
}

a {
    padding: 15px;
    transition: .2s linear;
}

a:hover {
    color: var(--light-blue) !important;
}

.nav-link:hover {
    /* text-shadow: 1px 1px 3px skyblue; */
    transition: .2s linear;
    border-left: 1px solid var(--light-blue);
    border-right: 1px solid var(--light-blue);
    color: var(--light-blue) !important;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#hero-container {

}

#hero-image {
    width: 99vw;
    height: 100vh;
}

#hero {
    background-color: rgba(0,0,50,0.3);
    border-radius: 20px;
    position: absolute;
    top: 300px;
    left: 50%;
    transform: translate(-50%, -50%);
}

#profile {
    border-radius: 10px;
    /* border: 2px solid var(--light-blue); */
    box-shadow: 0 0 5px var(--light-blue);
}

#accordion {
    width: 50%;
	z-index: 0;
}

.footer {
    margin: 0;
    padding: 0;
    min-width: 100%;
}
