body {
    margin: 0;
    padding: 0;
	--sz: 5px; /*** size ***/
	--sp: 10s; /*** speed ***/
	--b1: #3c3532;
	--b2: #1c1b18;
	--b3: #0c0b0a;
	--b4: #0c0b0ae0;
	--c1: rgba(0,0,0,0);
	--ts: 50%/calc(var(--sz) * 17.5) calc(var(--sz) * 29.5);
	background-image: url("./images/space.jpg");
}

.myNav {
    min-width: 100%;
    margin: 0;
    padding: 0;
    top: 0;
	background-color: rgba(0,0,0,0.5);
}

#profile {
    border-radius: 50%;

}

.footer {
    margin: 0;
    padding: 0;
    min-width: 100%;

}

.background {
    /* background: linear-gradient(-45deg, #7d3cff, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite; */
}

.nav-item {
    height: 100%;
    text-shadow: 1px 1px 3px black;
}

.nav-link {
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
    
    border-radius: 0 !important;
}

a:visited { color:white !important; }

#accordion {
    width: 50%;
	z-index: 0;
}

#background-image {
	width: 100%;
	height: 600px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* background-color: white; */
}

a:hover {
    text-shadow: 1px 1px 3px skyblue;
}

.transition-text-shadow {
    transition: text-shadow .1s ease-in;
}

.active {
    background-color: rgba(0,0,100,0.7) !important; 
}


.overlay {
    position: fixed;
}

.nameText {
    color: white;
    text-shadow: 1px 1px 3px black;
}

.white {
    color: white;
}

.MyListItem {
    text-decoration: none !important;
}



@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@media (max-width: 992px) {
    .cube-background {
      background: none;
    }

    main {
        width: 100%;
    }
}