body {
    margin: 0;
    padding: 0;
    --dark-blue: #0F2167;
    --normal-blue: #3559E0;
    --light-blue: #4CB9E7;
    --white: #FFECD6;
}

/* width */
::-webkit-scrollbar {
width: 20px;
background: rgba(0,0,0,0);
}

/* Track */
::-webkit-scrollbar-track {
background: #fff1e0;
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #6c5b46;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #473b2c; 
}

.myNav {
    min-width: 100%;
    margin: 0;
    padding: 0;
    top: 0;
	background-color: rgba(0,0,0,0.5);
    z-index:1;
}

#profile {
    border-radius: 50%;

}

.footer {
    margin: 0;
    padding: 0;
    min-width: 100%;

}

.nav-item {
    height: 100%;
    text-shadow: 1px 1px 3px black;
}

.nav-link {
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
    
    border-radius: 0 !important;
}

a:visited { color:white !important; }

#accordion {
    width: 50%;
	z-index: 0;
}

#background-image {
	width: 100%;
	height: 600px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

a:hover {
    text-shadow: 1px 1px 3px skyblue;
}

.transition-text-shadow {
    transition: text-shadow .1s ease-in;
}

.active {
    background-color: rgba(0,0,100,0.7) !important; 
}


.overlay {
    position: fixed;
}

.nameText {
    color: white;
    text-shadow: 1px 1px 3px black;
}

.white {
    color: white;
}

.MyListItem {
    text-decoration: none !important;
}
